attrs==23.2.0
black==24.4.2
click==8.1.7
iniconfig==2.0.0
isort==5.13.2
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.1
pluggy==1.5.0
pytest==7.2.2
redis==4.6.0
ruff==0.4.3
